<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="yuansfer" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                <label>Yuansfer Module</label>
                <field id="yuansfer_merchant_no" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Merchant NO.</label>
                </field>
                <field id="yuansfer_store_no" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Store NO.</label>
                </field>
                <field id="yuansfer_mode" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Test Mode</label>
                    <comment>Set this to No when you are ready to accept payments</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="yuansfer_test_apikey" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Test API Token</label>
                </field>
                <field id="yuansfer_live_apikey" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Live API Token</label>
                </field>
                <!-- <field id="heading_securepay" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>SecurePay Settings</label>
                    <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                </field> -->
                <field id="unionpay_active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>UnionPay Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="unionpay_title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>UnionPay Title</label>
                </field>
                <field id="alipay_active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Alipay Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="alipay_title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>AliPay Title</label>
                </field>
                <field id="alipay_settle_currency_for_cny" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Settle Currency for CNY (Alipay only)</label>
                    <source_model>Yuansfer\All\Model\AlipaySettleCurrency</source_model>
                </field>
                <field id="wechatpay_active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>WechatPay Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="wechatpay_title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>WechatPay Title</label>
                </field>
                <field id="creditcard_active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>CreditCard Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="creditcard_title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>CreditCard Title</label>
                </field>
                <field id="creditcard_create_account" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>CreditCard Create Account</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
